body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #1b1b1b;
  color: #e0d4b7;
  line-height: 1.6;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.inicio {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: right;
  text-align: right;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}


header {
  background-color: #2c2c2c;
  border-bottom: 2px #7e5d41;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  padding-top: 80px;
}

.nome {
  font-size: 32px;
  color: #e0d4b7;
  text-shadow: 1px 1px #7e5d41;
}

.navbar li a {
  text-decoration: none;
  color: #e0d4b7;
  font-weight: bold;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.3s;
}

.navbar li a:hover {
  background-color: #7e5d41;
  color: #1b1b1b;
}

.principal {
  padding: 40px 20px;
  padding-top: 80px;
}

.principal-home {
  padding: 40px 20px;
}

/* destaques */
.destaques {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.temporadas-destaque {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.formulario-preferencias {
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #d3b58d;
  border-bottom: 2px solid #7e5d41;
  display: inline-block;
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  padding: 20px;
}

.card {
  background-color: #2c2c2c;
  border: 1px solid #7e5d41;
  border-radius: 10px;
  width: 400px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
  font-size: 22px;
  color: #e0d4b7;
}

.card p {
  padding: 0 15px 15px;
  font-size: 16px;
  color: #c4b69f;
}

.card a {
  display: block;
  text-align: center;
  background-color: #7e5d41;
  color: #1b1b1b;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.card a:hover {
  background-color: #d3b58d;
  color: #1b1b1b;
}

/* FORMULÁRIO */
.formulario-preferencias form {
  background-color: #685346;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #7e5d41;
}

.form-group {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #d3b58d;
}

textarea {
  width: 40%;
  padding: 10px;
  border: 1px solid #7e5d41;
  border-radius: 5px;
  background-color: #554939;
  color: #e0d4b7;
  resize: vertical;
}

.input-formulario {
  width: 40%;
  padding: 10px;
  border: 1px solid #7e5d41;
  border-radius: 5px;
  background-color: #554939;
  color: #e0d4b7;
}


.botao-enviar {
  display: inline-block;
  padding: 12px 24px;
  background-color: #7e5d41;
  color: #1b1b1b;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.botao-enviar:hover {
  background-color: #d3b58d;
}

/* FOOTER */
footer {
  background-color: #2c2c2c;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: #a4937a;
  border-top: 2px solid #7e5d41;
}

.tag-humano {
  border-radius: 60px;
  background-color: rgb(255, 216, 43);
  color: #1b1b1b;
  width: 100px;
  display: flex;
  margin-left: 10px;
  justify-self: flex-start;
}

.tag-anjo {
  border-radius: 60px;
  background-color: rgb(238, 228, 182);
  color: #1b1b1b;
  width: 70px;
  display: flex;
  margin-left: 10px;
  justify-self: flex-start;
}

.tag-demônio {
  border-radius: 60px;
  background-color: rgb(238, 49, 49);
  color: #1b1b1b;
  width: 110px;
  display: flex;
  margin-left: 10px;
  justify-self: flex-start;
}

.tag-bruxa {
  border-radius: 60px;
  background-color: rgb(97, 68, 228);
  color: #1b1b1b;
  width: 70px;
  display: flex;
  margin-left: 10px;
  justify-self: flex-start;
}

.tag-divino {
  border-radius: 60px;
  background-color: rgb(139, 209, 209);
  color: #1b1b1b;
  width: 90px;
  display: flex;
  margin-left: 10px;
  justify-self: flex-start;
}

.tag-monstro {
  border-radius: 60px;
  background-color: rgb(92, 21, 80);
  color: #1b1b1b;
  width: 90px;
  display: flex;
  margin-left: 10px;
  justify-self: flex-start;
}

.tag-fantasma {
  border-radius: 60px;
  background-color: rgb(133, 162, 175);
  color: #1b1b1b;
  width: 120px;
  display: flex;
  margin-left: 10px;
  justify-self: flex-start;
}

.filtro {
  border-radius: 20px;
  width: 100px;
  size: 100px;
  background-color: #caa482;
}

.lenda-details {
  padding: 0 1rem 1rem;
}

.lenda-details p {
  margin: 0.7rem 0;
  line-height: 1.5;
  color: #d3d3d3;
  font-size: 0.95rem;
}

.origem {
  color: #a8dadc;
  font-weight: bold;
  display: block;
}

.descricao {
  padding: 0.8rem;
  border-radius: 5px;
}

.episodio {
  color: #f1c453;
  font-weight: bold;
}

.vulnerabilidade {
  color: #90be6d;
  font-weight: bold;
}

.episodio-details {
  padding: 0 1rem 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
}

.episodio-details p {
  padding: 0 1rem 1rem;
  margin-bottom: 1rem;
  font-size: 15px;
}

.episodio-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}


.tag {
  padding: 3px 8px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
}

.tag-vilao {
  background-color: rgba(230, 57, 70, 0.15);
  color: #e63946;
  border: 1px solid rgba(230, 57, 70, 0.3);
}

.tag-mitologia {
  background-color: rgba(144, 190, 109, 0.15);
  color: #90be6d;
  border: 1px solid rgba(144, 190, 109, 0.3);
}

.tag-drama {
  background-color: rgba(211, 181, 141, 0.15);
  color: #d3b58d;
  border: 1px solid rgba(211, 181, 141, 0.3);
}


.arco-principal {
  background-color: #2c2c2c;
  border-left: 4px solid #d3b58d;
  padding: 18px;
  border-radius: 0 8px 8px 0;
  margin: 25px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.arco-principal:before {
  top: -12px;
  left: 20px;
  background-color: #7e5d41;
  color: #1b1b1b;
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

.arco-principal p {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: #e0d4b7;
}

.card-temporada {
  background-color: #1a1a1a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px 0;
  color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

.card-temporada h3 {
  color: #d3b58d;
  font-size: 22px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #333;
}

.card-temporada ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-temporada li {
  padding: 10px 0;
  margin-bottom: 8px;
  line-height: 1.6;
  border-bottom: 1px dashed #333;
}

.tag-suspense {
  background-color: rgba(143, 107, 61, 0.233);
  color: #cf8a3b;
  border: 1px solid rgba(204, 168, 69, 0.3);
}

.tag-psicologico {
  background-color: rgba(117, 175, 158, 0.233);
  color: #58d1cb;
  border: 1px solid rgba(49, 101, 114, 0.3);
}

.tag-familia {
  background-color: rgba(14, 109, 80, 0.233);
  color: #166142;
  border: 1px solid rgba(33, 117, 92, 0.3);
}

.valores-supernatural {
  background-image: url('../img/logo.jpg');
  background-size: cover;
  padding: 60px 30px;
  margin: 40px 0;
  align-items: center;
  align-self: center;
  align-content: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.conteudo-valores {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  padding: 30px;
  border-radius: 12px;
}

.conteudo-valores h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Georgia', serif;
}

.conteudo-valores ul {
  list-style: none;
  padding: 0;
}

.conteudo-valores li {
  margin-bottom: 15px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.conteudo-valores strong {
  color: #8f7d35;
}

.login-container {
  background-color: rgba(20, 20, 20, 0.7);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  max-width: 400px;
  width: 100%;
}

.login-box h1 {
  font-family: 'UnifrakturCook', cursive;
  font-size: 28px;
  text-align: center;
  margin-bottom: 24px;
  color: #e0cba8;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  color: #e6e6e6;
}

input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2d2d2d;
  color: #fff;
}


.button-log {
  margin-top: 20px;
  padding: 12px;
  background-color: #8b0000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.button-log:hover {
  background-color: #a32020;
}

.cadastrar {
  text-align: center;
  margin-top: 10px;
}

.cadastrar a {
  color: #c9a760;
  text-decoration: none;
  font-size: 0.9em;
}

.cadastrar a:hover {
  text-decoration: underline;
}

.main-login {
  background-image: url('../img/roxo.png');
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastrinho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.cadastro-container {
  background-color: rgba(20, 20, 20, 0.75);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  max-width: 450px;
  width: 100%;
}

.cadastro-box h1 {
  font-family: 'UnifrakturCook', cursive;
  font-size: 28px;
  text-align: center;
  margin-bottom: 24px;
  color: #e0cba8;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  color: #e6e6e6;
}

input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2d2d2d;
  color: #fff;
}

.ja-tem-conta {
  text-align: center;
  margin-top: 12px;
}

.ja-tem-conta a {
  color: #c9a760;
  text-decoration: none;
  font-size: 0.9em;
}

.ja-tem-conta a:hover {
  text-decoration: underline;
}

.login {
  padding: 3px 8px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(88, 32, 36, 0.74);
  color: #e0d4b7;
  border: 2px solid rgba(69, 15, 19, 0.815);
}

.navbar-login {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}

.navbar-login li a {
  text-decoration: none;
  color: #e0d4b7;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.navbar-login li a:hover {
  background-color: rgba(145, 26, 34, 0.753);
  color: #e0d4b7;
  border: 2px solid rgba(131, 29, 35, 0.815);
}

.main-quiz {
  margin-top: 50px;
  color: #E8E8E8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.quiz-jogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  padding: 25px;
  background-color: #be9561;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  color: #0f0a01;
}

.btn-quiz {
  background-color: #4d1212;
  color: #e0c992;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  font-family: 'Times New Roman', serif;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-quiz:hover {
  background-color: #16212a;
}

.flex-colunar {
  display: flex;
  flex-direction: column;
}

.border {
  border: 3px solid #491c1c;
}

.padding-8 {
  padding: 8px;
}

.text-bold {
  font-weight: bold;
}

.text-success-with-bg {
  color: #46501b;
  background-color: #776138;
}

.text-warning-with-bg {
  color: #705400;
  background-color: #fdebb3;
}

.text-danger-with-bg {
  color: #990c19;
  background-color: #f0c1c6;
}

.text-new-gray {
  color: #CCCCCC;
}

#opcoes span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pontuar {
  background-color: #c59f6e;
  border: 3px solid #664905;
  border-radius: 6px;
}

.pontuacaoDurante span {
  display: block;
  margin-bottom: 8px;
  line-height: 1.5;
}

.pontuacaoFinal span {
  display: block;
  margin-bottom: 8px;
  line-height: 1.5;
}

.pontuacaoFinal {
  font-weight: bold;
  font-size: 1.1em;
}

.jogoInteiro {
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#jogo>div {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.informacao {
  font-size: 0.9em;
  color: #555;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

.perguntAtual {
  text-align: left;
  padding: 10px 0;
}

.perguntAtual .spanquestao {
  font-weight: bold;
  font-size: 3em;
  color: #1a2a3a;
  line-height: 1.4;
  display: block;
}

#perguntaDaQuestaoAtual #spanQuestaoExibida {
  font-weight: bold;
  font-size: 1.3em;
  color: #d6b494;
  line-height: 1.4;
  display: block;
}

#infoAlternativas {
  text-align: left;
  padding: 0 0 10px 0;
}

#infoAlternativas em {
  font-style: italic;
  font-size: 0.95em;
  color: #333;
  display: block;
}

#opcoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#opcoes .option-container {
  background-color: #fdfdfd;
  padding: 12px 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  width: 100%;
  box-sizing: border-box;
}

#opcoes .option-container:hover {
  background-color: #f5f5f5;
  border-color: #5e4b1f;
}

#opcoes .option-container input[type="radio"] {
  margin-right: 12px;
  accent-color: #4b3b0e;
  transform: scale(1.15);
  flex-shrink: 0;
}

#opcoes .option-container .option {
  color: #1a2a3a;
  font-size: 1em;
  line-height: 1.5;
  flex-grow: 1;
}

#botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 25px;
}

#botoes button {
  background-color: #551b1b;
  color: #cab585;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  font-family: 'Times New Roman', serif;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  min-width: 200px;
  max-width: 280px;
  text-align: center;
}

#botoes button:hover {
  background-color: #8b3939;
  color: #1a2a3a;
}

#botoes button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  border-color: #cccccc;
}

#botoes button:disabled:hover {
  background-color: #cccccc;
  color: #666666;
}

.text-success-with-bg {
  background-color: #d1e7dd;
  color: #0a3622;
  border-color: #a3cfbb;
}

.text-danger-with-bg {
  background-color: #f8d7da;
  color: #58151c;
  border-color: #f1aeb5;
}

.text-warning-with-bg {
  background-color: #fff3cd;
  color: #664d03;
  border-color: #ffecb5;
}

#msgFinal {
  padding: 15px;
  border-radius: 6px;
  margin-top: 10px;
  font-weight: normal;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.6;
  width: 100%;
  box-sizing: border-box;
}


.section-quiz {
  background-color: #1c1c1c;
  color: #f5f5dc;
  padding: 60px 20px;
  font-family: 'Georgia', serif;
  border-top: 2px solid #8b4513;
  border-bottom: 2px solid #8b4513;
  text-align: center;
}

.section-quiz .container {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.quiz-title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #deb887;
}

.quiz-description {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #e6e6e6;
}

.quiz-button {
  padding: 12px 25px;
  font-size: 1rem;
  background-color: #8b4513;
  color: #fff8dc;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.quiz-button:hover {
  background-color: #a0522d;
  transform: scale(1.05);
}


.dashboard {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
  margin-top: 80px;
}

.btns-dash {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btns-dash button {
  padding: 10px 15px;
  background-color: #8b0000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.grafico {
  width: 400px;
}

.curiosidades-box {
  background-color: #2c2c2c;
  padding: 1rem;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #444;
}

.display-none {
  display: none;
}

.mensagem-erro {
  margin-top: 15px;
  padding: 12px 20px;
  background-color: #8b0000; 
  color: #f5f5dc;
  border: 1px solid #a52a2a;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 0 10px #3b0000;
  text-align: center;
  transition: 0.3s ;
}

.form-group select {
    width: 30%;
    padding: 10px 12px;
    background-color:#554939;
    color: #f5f5f5; 
    border: 2px solid #6b4f35; 
    border-radius: 8px; 
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    appearance: none; 
    cursor: pointer;
    align-content: center;
    justify-content: center;
    text-align: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.banner {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  background-image: url(../img/banner-Sam.jpg);
  background-size: cover;
  height: 800px;
}

.frase-banner  {
  font-size: 30px;
  margin-top: 250px;
  margin-left: 100px;
}

.frase-banner2 {
  font-size: 30px;
  margin-top: 0px;
  margin-left: 200px;
}