body{
    margin: 0;
}

.container{
    display: flex;
   justify-content: space-around;
}
.inicio {
    display: flex;
    flex-direction: row;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: right;
    text-align: right;
}
.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
